
@font-face {
    font-family: 'Manrope';
    src: url(fonts/Manrope-VariableFont_wght.ttf);
}

/* Layout */

body {
    background-color: hsl(210, 46%, 95%);
}
.wrapper {
    font-family: 'Manrope';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #fff;
    max-width: 40em;
    display: flex;
    border-radius: 10px;
}

.main-image {
    width: 35%;
    object-fit: cover;
    object-position: 0%;
    border-radius: 10px 0 0 10px;
}

.content-right {
    padding: 1em 2em;    
    position: relative;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.subfooter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.avatar {
    max-width: 2rem;
    border-radius: 50%;
}

/* Text styling */

h1 {
    font-size: 1.2rem;
}

p {
    font-size: .8rem;
    color: hsl(214, 17%, 51%);
}

.author p {
    margin: 0;
}

.author p:first-of-type, h1 {
    color: hsl(217, 19%, 35%);
}

span {
    letter-spacing: 5px;
    font-size: .7rem;
    color: hsla(217, 55%, 79%, 0.7);
}

/* Link styling */

.share-btn {
    position: relative;
    display: block;
    padding: .4em .6em;
    background-color: hsla(212, 23%, 69%, 0.2);
    border-radius: 50%;
    margin-right: .4em;
    cursor: pointer;
}

.social-links {
    position: absolute;
    bottom: 5em;
    right: -2.5em;
    background-color: hsla(217, 19%, 35%, 1);
    display: none;
    gap: .8em;
    align-items: center;
    padding: .5em 1em;
    color: white;
    border-radius: 10px;
}

.social-links::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    border-top: 10px solid hsla(217, 19%, 35%, 1);
}

.social-links a {
    display: block;
    margin: 5px 0;
}

/* Responsive design */

@media (max-width: 500px) {
    .content {
        flex-direction: column;
    }
    .content {
        margin-inline: 1em;
    }
    .footer {
        margin-bottom: 0;
    }
    .main-image {
        width: 100%;
        max-height: 15em;
        border-radius: 10px 10px 0 0;
    }
    .share-btn {
        position: absolute;
        z-index: 2;
        order: 2;
        bottom: 3%;
        right: 10%;
    }
    .content-right {
        position: relative;
    }
    .social-links {
        bottom: 0;
        left: 0;
        width: calc(100% - 2rem);
        border-radius: 0 0 10px 10px;
        order: 1;
        z-index: 1;
    }
    .social-links::after {
        display: none;
    }
}

@media (max-width: 310px) {
    .author {
        max-width: 2.6rem;
    }
    .content {
        margin-inline: 0;
    }
    .social-links {
        gap: 0.2em;
    }
    .share-btn {
        bottom: 2%;
        right: 1%;
    }
}